body,
html {
  margin: 0;
  /* padding: 0; */
  text-align: center;
  font-size: 1.1rem;
  height: 100%;
  line-height: 1.8em;
}

.pimg {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: no-repeat fixed center; */
}

.pimg1 {
  background-image: url(/images/img_togane.JPG);
  min-height: 100%;
  /* background-size: cover; */
}

.pimg2 {
  background-image: url(/images/img_koukou.jpg);
  min-height: 670px;
}

.pimg3 {
  background-image: url(/images/img_torii.jpg);
  min-height: 670px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-dark {
  background-color: firebrick;
  color: whitesmoke;
}

.section-light {
  background-color: whitesmoke;
  color: firebrick;
}

.hf-txt {
  color: whitesmoke;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  width: 100%;
}

.brdr {
  background-color: firebrick;
  border-radius: 13px;
  font-size: 27px;
  padding: 2px 5px;
}

.foot {
  font-size: 4em;
}

.ex {
  font-size: 0.6em;
}
